@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67), 0 0 rgb(219, 140, 67);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px rgb(219, 140, 67), 0 -2px rgb(219, 140, 67), 0 -3px rgb(219, 140, 67), 0 -4px rgb(219, 140, 67), 0 -5px rgb(219, 140, 67);
    transform: translateY(2px);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 19);
  background-image: url(images/bg.jpg);
}

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: "Josefin Sans";
  color: beige;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.words {
  width: 80%;
  height: auto;
  min-height: 100px;
}

.block {
  padding: 20px;
  height: auto;
}

.footer {
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.rightalign{
  text-align: right;
  padding: 5px;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.icons {
  padding:  0 7px;
}

.header {
  background-color: rgb(36, 33, 30);
  background-image: url(images/header.jpg);
  background-size: cover;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: nowrap;
}

.content {
  height: auto;
  background-image: url(images/About.jpg);
  background-size: cover;
}

.sign-up {
  padding: 50px;
}

img {
  max-width: 100%;
}

a, a :active {
  text-decoration: none;
  color: beige;
}

.link a :hover{	
	animation: text-shadow-pop-top 0.3s both;
}


#menuImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#menuImg:hover {opacity: 0.7;}

.overlay {
  position: relative;
  top: -100%;
  height: 100%;
  width: 50%;
  opacity: 0;
  transition: 0.5s ease;
}

.home {
  position: relative;
  top: -5%;
}

.feature:hover .overlay {
  opacity: 1;
}

.data {
  color: beige;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 8px rgb(18, 18, 19), 2px 2px 25px rgb(18, 18, 19);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 5px 0;
}
.heading {
  margin: 20px 0;
}

p,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-block;
  margin: 5px 0;
}

p:first-of-type {
  text-indent: 0;
}

hr {
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed beige;
  margin: 5px;
}

input,
textarea,
select,
select > option {
  font-family: "Josefin Sans";
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="time"],
[id="data_6"],
[id="data_8"] {
  width: 70%;
}

input[type="submit"] {
  width: 70%;
  background-color: rgb(219, 140, 67);
  color: beige;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: rgb(134, 75, 36);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/* Mobile Styles */
@media only screen and (max-width: 562px) {

  .header a:not(.active) {display: none;}

  .header a.icon {
    float: right;
    display: block;
    font-size: 10vw;
  }
  
  .header .icon, .fa {
    position: fixed;
    right: 30px;
    top: 47px;
    float: right;
    z-index: 2;
  }

  .header.responsive {
    position: fixed;
    background: rgb(0,0,0,0.6);
    padding: 9px 0;
    border-radius: 0 0 25px 25px ;
    z-index: 2;
  }

  .header.responsive a:not(.active) {
    display: flex;

  }

  .header.responsive .home {display: none;}

  .block {
    padding:  0px 5px;
  }
  
  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    z-index: 2;
  }

  .social, .copyright, .hide {
    visibility: hidden;
    clear: both;
  }

  .rightalign{
    font-size: 1.5em;
    position: relative;
    top: -30px;
    left: -16px;
  }
}


/* Tablet Styles */
@media only screen and (min-width: 562px) and (max-width: 960px) {
  .feature {
    width: 50%;
  }

  .header {
    overflow: hidden;
  }

  .header .icon {
    display: none;
  }
}


/* Desktop Styles*/
@media only screen and (min-width: 961px) {
  .header {
    overflow: hidden;
  }

  .icon {
    display: none;
  }

  .header link {
    float: left;
    display: block;
  }
  
  html, body {
    height: 100%;
  }

  body {
    display: flex;
  }

  .page {
    width: 960px;
    margin: 0 auto;
    flex: 1 0 auto;
  }

  .feature {
    width: 33.33%;
  }

  .sign-up {
    height: auto;
    order: 1;
  }

  .content {
    order: 2;
  }

  .footer {
    order: 3;
    flex-shrink: 0;
    position: relative;
    bottom: -50px;
  }
}

